<div class="subheader">
  <h1 class="subheader-title">
    <i class="subheader-icon fas fa-user"></i> Company Profile<br>
  </h1>
</div>

<div id="panel-1" class="panel">
  <div class="panel-hdr">
      <h2>
          Basic Details
      </h2>
  </div>

  <div class="panel-container show">
    <div class="panel-content">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="form-label" for="companyName">Company Name</label>
          <input class="form-control text-box single-line"  formControlName="companyName" type="text" value="codezync">
        </div>

        <!-- <div class="form-group">
          <label class="form-label">Company Logo</label>
          <input class="form-control text-box single-line"  formControlName="companyLogo" type="file" accept="/image">
        </div> -->

        <div class="form-group">
          <label class="form-label">Company Logo</label><br>
          <img [src]="imgURL" height="100"><br>
          <input #file type="file" accept='image/*' (change)="preview(file.files)"/>
        </div>

        <div class="form-group">
          <label class="form-label">Country</label>
          <input class="form-control text-box single-line"  formControlName="country" type="text" value="Sri Lanka">
        </div>

        <div class="form-group">
          <label class="form-label">State/Province</label>
          <input class="form-control text-box single-line"  formControlName="state" type="text" value="Colombo">
        </div>

        <div class="form-group">
          <label class="form-label">Company address</label>
          <input class="form-control text-box single-line"  formControlName="address" type="text" value="No 24 1/1,Sir Ernest De Silva Mawatha, Colombo 3">
        </div>

        <div class="form-group">
          <label class="form-label">Website</label>
          <input class="form-control text-box single-line"  formControlName="website" type="text" value="www.codezync.com">
        </div>

        <div class="form-group">
          <label class="form-label">Phone</label>
          <input class="form-control text-box single-line" formControlName="phoneNumber" type="text" value="011-1234567">
        </div>
      </form>
    </div>
  </div>
</div>


<div id="panel-1" class="panel">
  <div class="panel-hdr">
      <h2>
          Registration Details
      </h2>
  </div>
  <div class="panel-container show">
      <div class="panel-content">
        <form action="/App/Create" enctype="multipart/form-data" method="post"><input name="__RequestVerificationToken" type="hidden" value="94CBdQCwCiKKaIh7_VmvVGxf8g19Q0D5Ir92sl-efEzEBQx1lHcWsgSdtU-M0zvjBfN4ckGrwa0GknoDLWqfQxj6knxVLDMU27EzShnUK9_5AlmbLpfWcTxzFlZZ2XrGTA3jQxgzhGivJbsYq280Qg2">
          <div class="form-group">
            <label class="form-label" for="Code">Business Registration Number</label>
            <input class="form-control text-box single-line"  id="Code" name="Code" type="text" value="Lorem Ipsum">
          </div>
          <div class="form-group">
            <label class="form-label" for="Code">Issue date</label>
            <input class="form-control text-box single-line"  id="Code" name="Code" type="date" value="2016-01-01">
          </div>

          <div class="form-group">
            <label class="form-label" for="Code">Date of expiry</label>
            <input class="form-control text-box single-line"  id="Code" name="Code" type="date" value="2030-12-12">
          </div>

          <div class="form-group">
            <label class="form-label" for="Code">Owner</label>
            <input class="form-control text-box single-line"  id="Code" name="Code" type="text" value="Aneef Fashir">
          </div>

          <div class="form-group">
            <label class="form-label" for="Code">Nature of business</label>
            <input class="form-control text-box single-line"  id="Code" name="Code" type="text" value="Software Company">
          </div>


      </form>
      </div>
  </div>
</div>

<div id="panel-1" class="panel">
  <div class="panel-hdr">
      <h2>
          Salary Details
      </h2>
  </div>
  <div class="panel-container show">
      <div class="panel-content">
        <form action="/App/Create" enctype="multipart/form-data" method="post"><input name="__RequestVerificationToken" type="hidden" value="94CBdQCwCiKKaIh7_VmvVGxf8g19Q0D5Ir92sl-efEzEBQx1lHcWsgSdtU-M0zvjBfN4ckGrwa0GknoDLWqfQxj6knxVLDMU27EzShnUK9_5AlmbLpfWcTxzFlZZ2XrGTA3jQxgzhGivJbsYq280Qg2">
          <div class="form-group">
            <label class="form-label" for="Code">EPF</label>
            <input class="form-control text-box single-line"  id="Code" name="Code" type="text" value="8%">
          </div>
          <div class="form-group">
            <label class="form-label" for="Code">ETF</label>
            <input class="form-control text-box single-line"  id="Code" name="Code" type="text" value="12%">
          </div>

          <div class="form-group">
            <label class="form-label" for="Code">Salary Advance</label>
            <input class="form-control text-box single-line"  id="Code" name="Code" type="text" value="0%">
          </div>

      </form>

      </div>
      <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0">
        <button class="btn btn-primary waves-effect waves-themed" type="submit">Update</button>
        <a class="btn btn-warning waves-effect waves-themed" href="/User/StoreOwners">Cancel</a>
    </div>
  </div>
</div>
