
<nav class="navbar">
  <div class="row">
    <div class="snippet">
      <i class="fas fa-bars"></i>
    </div>

    <div class="search">
        <input class="form-control" type="text" placeholder="Search for any thing" aria-label="Search">
    </div>
    <div class="snippet">
      <i class="fas fa-cog"></i>
    </div>
    <div class="snippet">
      <i class="fas fa-cube"></i>
    </div>
    <div class="snippet">
      <i class="fas fa-globe"></i>
    </div>
    <div class="snippet">
      <i class="fas fa-bell"></i>
    </div>
    </div>
</nav>

