<ul id="js-nav-menu" class="nav-menu js-nav-built">
  <li class="open">
    <a href="#" title="Application Intel" data-filter-tags="application intel" class=" waves-effect waves-themed" aria-expanded="true">
      <i class="fas fa-info-circle"></i>
      <span class="nav-link-text" data-i18n="nav.application_intel">Dashboards</span>
    <b class="collapse-sign"><em class="fas fa-angle-up"></em></b></a>
    <ul style="display: block;">
      <li>
        <a href="/Home/OperationsDashBoard" title="Operations Dashboard" data-filter-tags="application operations dashboard" class=" waves-effect waves-themed">
            <span class="nav-link-text" data-i18n="nav.application_operations_dashboard">Operations Dashboard</span>
        </a>
    </li>
    </ul>
  </li>
  <li class="nav-title">Management</li>
  <li class="open">
    <a href="#" title="UI Components" data-filter-tags="ui components">
      <i class="fas fa-laptop-house"></i>
      <span class="nav-link-text" data-i18n="nav.ui_components">Department Management</span>
      <b class="collapse-sign"><em class="fas fa-angle-down"></em></b>
    </a>
    <ul style="display: block;">
      <li>
          <a href="/listDepartments" title="Users" data-filter-tags="manage users" class=" waves-effect waves-themed">
              <span class="nav-link-text" data-i18n="nav.user_management_list">Manage Departments</span>
          </a>
      </li>



  </ul>
  </li>
  </ul>




<!-- <ul id="js-nav-menu" class="nav-menu">
  <li class="active open">
    <a href="#" title="Aboutus">
      <i class="fas fa-info-circle"></i>
        <span class="nav-link-text" data-i18n="nav.application_intel">About us</span>
    </a>
    <ul>
      <li class="active">
          <a href="intel_analytics_dashboard.html" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
              <span class="nav-link-text">History</span>
          </a>
      </li>
    </ul>
  </li>

  <li class="active open">
    <a href="#" title="Departments">
        <i class="fas fa-laptop-house"></i>
        <span class="nav-link-text" data-i18n="nav.application_intel">Departments</span>
    </a>
    <ul>
      <li class="active">
          <a href="/listDepartments" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
              <span class="nav-link-text"  >View departments</span>
          </a>
      </li>
      <li class="active">
        <a href="intel_analytics_dashboard.html" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
            <span class="nav-link-text">Add departments</span>
        </a>
    </li>
    <li class="active">
      <a href="intel_analytics_dashboard.html" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
          <span class="nav-link-text">Edit departments</span>
      </a>
    </li>
    <li class="active">
      <a href="intel_analytics_dashboard.html" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
        <span class="nav-link-text">Delete departments</span>
      </a>
    </li>
    </ul>
  </li>

  <li class="active open">
    <a href="#" title="Departments">
      <i class="fas fa-user"></i>
        <span class="nav-link-text" data-i18n="nav.application_intel">Employees</span>
    </a>
    <ul>
      <li class="active">
          <a href="/listDepartments" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
              <span class="nav-link-text"  >View Employees</span>
          </a>
      </li>
      <li class="active">
        <a href="intel_analytics_dashboard.html" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
            <span class="nav-link-text">Add Employees</span>
        </a>
    </li>
    <li class="active">
      <a href="intel_analytics_dashboard.html" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
          <span class="nav-link-text">Edit Employees</span>
      </a>
  </li>
  <li class="active">
    <a href="intel_analytics_dashboard.html" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
        <span class="nav-link-text">Delete Employees</span>
    </a>
  </li>
</ul> -->
