.primary-nav .nav-menu:first-of-type {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.primary-nav .nav-menu:last-of-type {
  margin: 0;
}

.nav-menu {
  padding: 0;
  list-style: none;
  margin: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.nav-menu li {
  position: relative;
}

.nav-menu li.open > a {
  color: white;
}

.nav-menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: 0;
  padding: 0.8125rem 2rem;
  font-size: 0.875rem;
  color: #bdafd1;
  font-weight: 400;
  text-decoration: none;
  position: relative;
}

.nav-menu li a > [class*='fa-'], .nav-menu li a > .ni {
  margin-right: 0.25rem;
  font-size: 1.125rem;
  width: 1.75rem;
  color: #876fab;
  text-align: left;
}

.nav-menu a > [class*='fa-'], .nav-menu a > .ni {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.fa, .fas, .far, .fal, .fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.nav-menu li a > .nav-link-text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: normal;
}

.nav-menu li.open > a {
  color: white;
}

.nav-menu b.collapse-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #967bbd;
}

b, strong {
  font-weight: bolder;
}

.waves-effect {
  position: relative;
  cursor: pointer;
}

.nav-menu li > ul li a {
  color: #af9fc7;
  padding: 0.8125rem 2rem 0.8125rem 4rem;
}

.nav-menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: 0;
  padding: 0.8125rem 2rem;
  font-size: 0.875rem;
  color: #bdafd1;
  font-weight: 400;
  text-decoration: none;
  position: relative;
}

.nav-menu li {
  position: relative;
}

.nav-title {
  text-transform: uppercase;
  margin: 0;
  color: #8268a8;
  padding: 1rem 2rem;
  margin-top: 1.5rem;
  font-size: 0.7rem;
  letter-spacing: 1px;
  font-weight: 500;
}

.nav-menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: 0;
  padding: 0.8125rem 2rem;
  font-size: 0.875rem;
  color: #bdafd1;
  font-weight: 400;
  text-decoration: none;
  position: relative;
}

.nav-menu li a > .nav-link-text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: normal;
}
