

<ul id="js-nav-menu" class="nav-menu">
  <li class="active open">
    <a href="#" title="Aboutus">
      <i class="fas fa-info-circle"></i>
        <span class="nav-link-text" data-i18n="nav.application_intel">About us</span>
    </a>
    <ul>
      <li class="active">
          <a href="intel_analytics_dashboard.html" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
              <span class="nav-link-text">History</span>
          </a>
      </li>
    </ul>
  </li>

  <li class="active open">
    <a href="#" title="Departments">
        <i class="fas fa-laptop-house"></i>
        <span class="nav-link-text" data-i18n="nav.application_intel">Departments</span>
    </a>
    <ul>
      <li class="active">
          <a href="/listDepartments" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
              <span class="nav-link-text"  >View departments</span>
          </a>
      </li>
      <li class="active">
        <a href="intel_analytics_dashboard.html" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
            <span class="nav-link-text">Add departments</span>
        </a>
    </li>
    <li class="active">
      <a href="intel_analytics_dashboard.html" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
          <span class="nav-link-text">Edit departments</span>
      </a>
    </li>
    <li class="active">
      <a href="intel_analytics_dashboard.html" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
        <span class="nav-link-text">Delete departments</span>
      </a>
    </li>
    </ul>
  </li>

  <li class="active open">
    <a href="#" title="Departments">
      <i class="fas fa-user"></i>
        <span class="nav-link-text" data-i18n="nav.application_intel">Employees</span>
    </a>
    <ul>
      <li class="active">
          <a href="/listDepartments" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
              <span class="nav-link-text"  >View Employees</span>
          </a>
      </li>
      <li class="active">
        <a href="intel_analytics_dashboard.html" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
            <span class="nav-link-text">Add Employees</span>
        </a>
    </li>
    <li class="active">
      <a href="intel_analytics_dashboard.html" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
          <span class="nav-link-text">Edit Employees</span>
      </a>
  </li>
  <li class="active">
    <a href="intel_analytics_dashboard.html" title="Analytics Dashboard" data-filter-tags="application intel analytics dashboard">
        <span class="nav-link-text">Delete Employees</span>
    </a>
  </li>
</ul>
