

<div class="card" style="width: 30rem;">
  <div class="card-header">
    <div class="row">
      <h5>Department List</h5>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <table class="table table-hover">
          <tr>
            <tr>
              <th>Department code</th>
              <th>Department Name</th>
              <th colspan=2>Actions</th>

            </tr>
            <tr>
              <td>dep_001</td>
              <td>HR</td>
              <td>
                <button class="btn" routerLink="/editDepartments"><i class="far fa-edit"></i></button>
              </td>
              <td>
                <i class="far fa-trash-alt"></i>
              </td>
            </tr>
            <tr>
              <td>dep_002</td>
              <td>Accounting</td>
              <td>
                <button class="btn" routerLink="/editDepartments"><i class="far fa-edit"></i></button>
              </td>
              <td>
                <i class="far fa-trash-alt"></i>
              </td>
            </tr>
            <tr>
              <td>dep_003</td>
              <td>Marketing</td>
              <td>
                <button class="btn" routerLink="/editDepartments"><i class="far fa-edit"></i></button>
              </td>
              <td>
                <i class="far fa-trash-alt"></i>
              </td>
            </tr>
            <tr>
              <td>dep_004</td>
              <td>Development</td>
              <td>
                <button class="btn" routerLink="/editDepartments"><i class="far fa-edit"></i></button>
              </td>
              <td>
                <i class="far fa-trash-alt"></i>
              </td>
            </tr>
        </table>

    </li>

  </ul>
</div>
