<header class="page-header" role="banner">

  <!-- we need this logo when user switches to nav-function-top -->
  <!-- <app-logo></app-logo> -->

  <app-settings-shortcut></app-settings-shortcut>

  <!-- DOC: mobile button appears during mobile width -->
  <div class="hidden-lg-up">
    <a href="#" (click)="openMobileNav($event)" class="header-btn btn press-scale-down" data-action="toggle" data-class="mobile-nav-on">
      <i class="ni ni-menu"></i>
    </a>
  </div>

  <div class="search">
    <form class="app-forms hidden-xs-down" role="search" action="search-results.html" autocomplete="off">
       <!-- <i class="fal fa-search position-absolute fs-xl m-2 p-1 text-muted pos-left"></i>  -->
      <input type="text" id="search-field" placeholder="Search for anything" class="form-control" tabindex="1">
      <!-- <a href="#" onclick="return false;" class="btn-danger btn-search-close js-waves-off d-none" data-action="toggle" data-class="mobile-search-on">
        <i class="fas fa-times"></i>
      </a> -->
    </form>

  </div>

  <div class="ml-auto d-flex">
    <app-dropdown-user></app-dropdown-user>
  </div>

</header>
