<div class="subheader">
  <h1 class="subheader-title">
    <i class="subheader-icon fas fa-user"></i> Designation Categories<br>
    <small>
      Manage All Designation categories
    </small>
  </h1>
  <div class="subheader-block">
    <a href="/User/Create" class="btn btn-primary btn-icon rounded-circle waves-effect waves-themed">
      <i class="fas fa-plus"></i>
    </a>
  </div>
</div>

<!--
<div class="row">
  <div class="col-md-12"> -->
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2>Designation Category List</h2>
      </div>
        <div class="panel-container show">
          <div class="panel-content">
            <table class="table table-bordered table-hover m-0">
              <thead class="thead-themed">
                <tr>
                  <th>Designation Categoty Code</th>
                  <th>Designation</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>des_001</td>
                  <td>Project Manager</td>
                  <td>
                    <a href="/User/Edit/5ff687638cbfe32f88aef244" data-toggle="tooltip" data-original-title="Edit"> <i class="far fa-edit mr-5"></i></a>
                    <a href="/User/Edit/5ff687638cbfe32f88aef244" data-toggle="tooltip" data-original-title="Edit"> <i class="far fa-trash-alt mr-1"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>des_002</td>
                  <td>Software Engineer</td>
                  <td>
                    <a href="/User/Edit/5ff687638cbfe32f88aef244" data-toggle="tooltip" data-original-title="Edit"> <i class="far fa-edit mr-5"></i></a>
                    <a href="/User/Edit/5ff687638cbfe32f88aef244" data-toggle="tooltip" data-original-title="Edit"> <i class="far fa-trash-alt mr-1"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>des_003</td>
                  <td>System Engineer</td>
                  <td>
                    <a href="/User/Edit/5ff687638cbfe32f88aef244" data-toggle="tooltip" data-original-title="Edit"> <i class="far fa-edit mr-5"></i></a>
                    <a href="/User/Edit/5ff687638cbfe32f88aef244" data-toggle="tooltip" data-original-title="Edit"> <i class="far fa-trash-alt mr-1"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>des_004</td>
                  <td>Business Analyst</td>
                  <td>
                    <a href="/User/Edit/5ff687638cbfe32f88aef244" data-toggle="tooltip" data-original-title="Edit"> <i class="far fa-edit mr-5"></i></a>
                    <a href="/User/Edit/5ff687638cbfe32f88aef244" data-toggle="tooltip" data-original-title="Edit"> <i class="far fa-trash-alt mr-1"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>des_005</td>
                  <td>Web Analytics developer</td>
                  <td>
                    <a href="/User/Edit/5ff687638cbfe32f88aef244" data-toggle="tooltip" data-original-title="Edit"> <i class="far fa-edit mr-5"></i></a>
                    <a href="/User/Edit/5ff687638cbfe32f88aef244" data-toggle="tooltip" data-original-title="Edit"> <i class="far fa-trash-alt mr-1"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>des_006</td>
                  <td>Web Master</td>
                  <td>
                    <a href="/User/Edit/5ff687638cbfe32f88aef244" data-toggle="tooltip" data-original-title="Edit"> <i class="far fa-edit mr-5"></i></a>
                    <a href="/User/Edit/5ff687638cbfe32f88aef244" data-toggle="tooltip" data-original-title="Edit"> <i class="far fa-trash-alt mr-1"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>des_007</td>
                  <td>Social Media Manager</td>
                  <td>
                    <a href="/User/Edit/5ff687638cbfe32f88aef244" data-toggle="tooltip" data-original-title="Edit"> <i class="far fa-edit mr-5"></i></a>
                    <a href="/User/Edit/5ff687638cbfe32f88aef244" data-toggle="tooltip" data-original-title="Edit"> <i class="far fa-trash-alt mr-1"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>

    </div>
  <!-- </div>
</div> -->


