<div class="page-wrapper">
  <div class="page-inner">
    <app-siderbar></app-siderbar>
      <div class="page-content-wrapper">
        <app-page-header></app-page-header>
      </div>

      <main id="js-page-content" role="main" class="page-content">
         <!-- <app-page-breadcrumb></app-page-breadcrumb> -->
          <router-outlet></router-outlet>

      </main>


  </div>
  <app-page-footer></app-page-footer>
</div>
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-2 padding-0">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10 padding-0">
      <app-content></app-content>
  </div>
  </div>
</div> -->
