<div class="subheader">
  <h1 class="subheader-title">
    <i class="subheader-icon fas fa-user"></i> Employee Category Administration<br>
    <small>
      Manage All Employee categories
    </small>
  </h1>
  <div class="subheader-block">
    <a href="/User/Create" class="btn btn-primary btn-icon rounded-circle waves-effect waves-themed">
      <i class="fas fa-plus"></i>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <app-view-employee-category></app-view-employee-category>
  </div>

  <div class="col-md-6">
    <app-add-employee-category></app-add-employee-category>
  </div>
</div>


