<div class="subheader">
  <h1 class="subheader-title">
    <i class="subheader-icon fas fa-user"></i>Employee Administration<br>
    <small>
      Manage All employees
    </small>
  </h1>
  <div class="subheader-block">
    <a href="/addEmployee" class="btn btn-primary btn-icon rounded-circle waves-effect waves-themed">
      <i class="fas fa-plus"></i>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-view-employee-details></app-view-employee-details>
  </div>
</div>


