<div class="modal-content">
  <div class="modal-body">
    <ul class="app-list w-auto h-auto p-0 text-left">
      <a
        routerLink="/intel/introduction"
        (mouseup)="closeShortcut($event)"
        class="app-list-item text-white border-0 m-0"
      >
            <div class="icon-stack">
              <table class="table table-borderless">
                <tr>
                  <td>
                    <a href="/User/Create" class="btn btn-primary btn-icon rounded-circle waves-effect waves-themed">
                      <i class="fas fa-home fa-lg"></i>
                    </a>
                  </td>

                  <td>
                    <a href="/User/Create" class="btn btn-primary btn-icon rounded-circle waves-effect waves-themed">
                      <i class="far fa-envelope fa-lg"></i>
                    </a>
                  </td>

                </tr>

                <tr>
                  <td>
                    <span class="app-list-name">
                      Home
                    </span>
                  </td>

                  <td>
                    <span class="app-list-name">
                      Inbox
                    </span>
                  </td>
                </tr>
              </table>


            </div>

          </a>

      </ul>
    </div>
  </div>



