.modal-content {
  box-shadow: 0 1px 15px 1px rgba(32, 2, 44, 0.3);
  border-radius: 0;
  /* padding: 1.5rem 1rem 1rem; */
  /* height: unquote("calc(100vh - 80px)"); */
  /* min-height: 100%;
  min-height: 100%; */
  background: rgba(11, 0, 12, 0.85);
  color: white;
  width:100%;
}



.modal-body{
  width: 100%;
		/* max-width: map-get($grid-breakpoints, lg); */
		margin: 0 auto;
		padding: 0;
    position: relative;
    background: rgba(11, 0, 12, 0.85);
}

.app-list {
	margin:0 auto;
	display: block;
	/* width: $header-applist-rows-width !important;
	height: $header-applist-rows-height !important;
	font-size:0; //removes wierd spacing
	padding: $header-applist-box-padding-x $header-applist-box-padding-y; */
	text-align: center;
}

.li {
  display: inline-block;
  text-align: center;
  padding:0;
}

.app-list-item {
	/* height: $header-applist-link-block-height;
	width: $header-applist-link-block-width; */
	display: block;
	text-decoration: none;
	/* color:$base-text-color; */
	margin: 10px 2px;
	border: 1px solid transparent !important;
	outline: none;
	/* @include rounded($border-radius - 1); */
	padding-top: 8px;
	border-radius: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;

/*
	&:hover {
		border: 1px solid lighten(lighten($black, 75%), 14%);
		padding-top: 7px;

		> .icon-stack {
			font-size: $header-applist-icon-size + 0.0625rem;
		}

	}

	&:active {
		border-color: $primary-500;
		padding-top: 8px;

		> .icon-stack {
			font-size: $header-applist-icon-size;
		}
	} */
}

.app-list-name{
  color: white;
}

.btn-primary{
  background-color: #DDA5F8;
  border-color: #9E48C8;
  border-width: 7px;

}

.table{
 max-width:200px;
 min-width:200px;
 text-align: center;

}

