<div class="modal fade modal-backdrop-transparent show" id="modal-shortcut" tabindex="-1" role="dialog" aria-labelledby="modal-shortcut" style="display: block; padding-right: 17px;" aria-modal="true">
  <div class="modal-dialog modal-dialog-top modal-transparent" role="document">
      <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <ul class="app-list w-auto h-auto p-0 text-left">

                <li>
                    <a href="/" class="app-list-item text-white border-0 m-0">
                        <div class="icon-stack">
                            <i class="base base-7 icon-stack-3x opacity-100 color-primary-500 "></i>
                            <i class="base base-7 icon-stack-2x opacity-100 color-primary-300 "></i>
                            <i class="fas fa-home icon-stack-1x opacity-100 color-white"></i>
                        </div>
                        <span class="app-list-name">
                            Home
                        </span>
                    </a>
                </li>
                    <li>
                        <a href="/Store" class="app-list-item text-white border-0 m-0">
                            <div class="icon-stack">
                                <i class="base base-7 icon-stack-3x opacity-100 color-primary-500 "></i>
                                <i class="base base-7 icon-stack-2x opacity-100 color-primary-300 "></i>
                                <i class="fas fa-shopping-cart icon-stack-1x opacity-100 color-white"></i>
                            </div>
                            <span class="app-list-name">
                                Stores
                            </span>
                        </a>
                    </li>
            </ul>
            </div>

          </div>
      </div>
  </div>
</div>
