<div id="panel-2" class="panel">
  <div class="panel-hdr">
      <h2>
          Add Employee
      </h2>
  </div>
  <div class="panel-container show">
    <div class="panel-content">
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="form-label" for="empID">Employee ID</label>
          <input class="form-control text-box single-line" placeholder="Enter Unique Code" type="text" formControlName="employeeID">

          <span *ngIf="!employeeID.valid && (employeeID.touched || userSubmitted)"
            class="error-block">
              Please provide ID
          </span>
        </div>

        <div class="form-group">
          <label class="form-label" for="Initials">Initials</label>
          <input class="form-control text-box single-line" formControlName="initials" placeholder="Enter Initials" type="text" value="">

          <span *ngIf="!initials.valid && (initials.touched || userSubmitted)"
            class="error-block">
              Please provide initials
          </span>
        </div>

        <div class="form-group">
          <label class="form-label" for="firstName">First Name</label>
          <input class="form-control text-box single-line" formControlName="firstName" placeholder="Enter First Name" type="text" value="">

          <span *ngIf="!firstName.valid && (firstName.touched || userSubmitted)"
            class="error-block">
              Please provide  First Name
          </span>
        </div>

        <div class="form-group">
          <label class="form-label" for="lastName">Last Name</label>
          <input class="form-control text-box single-line" formControlName="lastName" placeholder="Enter Last Name" type="text" value="">

          <span *ngIf="!lastName.valid && (lastName.touched || userSubmitted)"
            class="error-block">
              Please provide Last Name
          </span>
        </div>

        <div class="form-group">
          <label class="form-label" for="title">Title</label>
          <input class="form-control text-box single-line" formControlName="title" placeholder="Enter title" type="text" value="">

          <span *ngIf="!title.valid && (title.touched || userSubmitted)"
            class="error-block">
              Please provide initials
          </span>
        </div>

        <div class="form-group">
          <label class="form-label" for="gender">Gender</label><br>
          &nbsp; &nbsp; <input type="radio" name="gender" value="male">
          &nbsp; <label>Male</label><br>
          &nbsp; &nbsp; <input type="radio" name="gender" value="female">
          &nbsp; <label>Female</label>

          <span *ngIf="!gender.valid && (gender.touched || userSubmitted)"
            class="error-block">
              Please provide yor gender
          </span>
        </div>

        <div class="form-group">
          <label class="form-label" for="Name">Date of birth</label>
          <input class="form-control text-box single-line" formControlName="dateOfBirth" id="Name" name="Name" placeholder="Enter Department Name" type="date" value="">

          <span *ngIf="!dateOfBirth.valid && (dateOfBirth.touched || userSubmitted)"
            class="error-block">
              Please provide Date of Birth
          </span>
        </div>

        <div class="form-group">
          <label class="form-label" for="employeeCategory">Employee Category</label>
            <select class="custom-select" formControlName="employeeCategory" ><option value="">Select Type</option>
              <option value="Contract">Contract</option>
              <option value="Permanent">Permanent</option>
              <option value="Probation">Probation</option>
            </select>

            <span *ngIf="!employeeCategory.valid && (employeeCategory.touched || userSubmitted)"
            class="error-block">
              Please select employee category
          </span>
        </div>

        <div class="form-group">
          <label class="form-label" for="Name">Leave Act</label>
          <select class="custom-select" formControlName="leaveAct"><option value="">Select Leave Act</option>
            <!-- <option value="Contract">Contract</option>
            <option value="Permanent">Permanent</option>
            <option value="Probation">Probation</option> -->
          </select>

          <span *ngIf="!leaveAct.valid && (leaveAct.touched || userSubmitted)"
            class="error-block">
              Please provide Leave Act
          </span>
        </div>

        <div class="form-group">
          <label class="form-label" for="Name">Designation</label>
          <select class="custom-select" formControlName="designation"><option value="">Select Designation</option>
            <!-- <option value="Contract">Contract</option>
            <option value="Permanent">Permanent</option>
            <option value="Probation">Probation</option> -->
          </select>
          <span *ngIf="!designation.valid && (designation.touched || userSubmitted)"
            class="error-block">
              Please provide designation
          </span>
        </div>

        <div class="form-group">
          <label class="form-label" for="Name">Department</label>
          <select class="custom-select" formControlName="department"><option value="">Select Department</option>
            <!-- <option value="Contract">Contract</option>
            <option value="Permanent">Permanent</option>
            <option value="Probation">Probation</option> -->
          </select>
          <span *ngIf="!department.valid && (department.touched || userSubmitted)"
            class="error-block">
              Please select the department
          </span>
        </div>

        <div class="form-group">
          <label class="form-label" for="Name">Salary Type</label>
          <select class="custom-select" formControlName="salaryType"><option value="">Select Salary type</option>
            <!-- <option value="Contract">Contract</option>
            <option value="Permanent">Permanent</option>
            <option value="Probation">Probation</option> -->
          </select>
          <span *ngIf="!salaryType.valid && (salaryType.touched || userSubmitted)"
            class="error-block">
              Please select the salary type
          </span>
        </div>

        <div class="form-group">
          <label class="form-label" for="amount">Amount</label>
          <select class="custom-select" formControlName="amount">
            <option value="" selected>Select Amount</option>
            <option value="Contract">Contract</option>
            <option value="Permanent">Permanent</option>
            <option value="Probation">Probation</option>
          </select>
          <span *ngIf="!amount.valid && (amount.touched || userSubmitted)"
            class="error-block">
              Please provide the amount
          </span>
        </div>

        <div class="form-group">
          <label class="form-label" for="Name">Joined On</label>
          <input class="form-control text-box single-line" formControlName="joinedOn" id="Name" name="Name" placeholder="Enter Department Name" type="date" value="">

          <span *ngIf="!joinedOn.valid && (joinedOn.touched || userSubmitted)"
            class="error-block">
              Please provide joined on date
          </span>
        </div>

        <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0">
          <button class="btn btn-primary waves-effect waves-themed" type="submit">Create</button>
          <a class="btn btn-warning waves-effect waves-themed" href="">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
