<div class="subheader">
  <h1 class="subheader-title">
    <i class="subheader-icon fas fa-user"></i> Salary Types<br>
    <small>
      Manage All salary types
    </small>
  </h1>
  <div class="subheader-block">
    <a href="/User/Create" class="btn btn-primary btn-icon rounded-circle waves-effect waves-themed">
      <i class="fas fa-plus"></i>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <app-view-salary-type></app-view-salary-type>
  </div>

  <div class="col-md-6">
    <app-add-salary-type></app-add-salary-type>
  </div>
</div>

