/* .page-sidebar{

top:0;
  position: fixed;
  bottom: 0;
  flex: 1 0 auto;
  width: 16.875rem;
  max-width: 16.875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: flex;
  z-index: 1002;
  will-change: left, right;
  background-color:#584475;
  background-image: linear-gradient(270deg, rgba(178, 45, 226, 0.18), transparent);

}

.nav-function-fixed:not(.nav-function-top) .page-sidebar {
  position: fixed !important;
  top: 0;
  bottom: 0;
}

aside
{
    position: fixed;

    height: 100%;
    top: 0;
    left: 0;

} */

.nav-function-fixed:not(.nav-function-top) .page-sidebar {
  position: fixed !important;
  top: 0;
  bottom: 0;
}
.page-sidebar {
  position: fixed;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 16.875rem;
  max-width: 16.875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1002;
  will-change: left, right;
  background-color:#584475;
  height: 100%;
}

::-webkit-scrollbar {
  width:3px;

}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;

}
::-webkit-scrollbar {
  max-height: 10px;
  height: 10px;
}

:-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px;
}

:-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:#ABA9AC;
  border-radius: 10px;

}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #b30000;
} */
.page-sidebar {
  overflow-y:auto;
  overflow-x: hidden;
  position: fixed;
  flex: 1 0 auto;
  width: 16.875rem;
  max-width: 16.875rem;
  flex-direction: column;
  display: flex;
  z-index: 1002;
  will-change: left, right;
}
