

  <!-- <div id="js-primary-nav" class="primary-nav js-list-filter" role="navigation" *ngIf="vm$ | async as vm"> -->
    <div id="js-primary-nav" class="primary-nav js-list-filter" role="navigation">
    <ul id="js-nav-menu" class="nav-menu js-nav-built">
      <li class="nav-title">Company Profile</li>
        <li>
          <a href="#" title="User Management" data-filter-tags="user management" class=" waves-effect waves-themed" aria-expanded="true">
            <i class="fas fa-building"></i>
            <span class="nav-link-text" data-i18n="nav.user_management">Company Management</span>
              <!-- <b class="collapse-sign"><em class="fal fa-angle-up"></em></b> -->
          </a>
          <ul style="display: block;">
            <li>
              <a href="/updateCompanyProfile" title="Users" data-filter-tags="manage users" class=" waves-effect waves-themed">
                <span class="nav-link-text" data-i18n="nav.user_management_list">Manage company profile</span>
              </a>
            </li>
          </ul>
        </li>

      <li class="nav-title">Departments</li>
        <li>
          <a href="#" title="User Management" data-filter-tags="user management" class=" waves-effect waves-themed" aria-expanded="true">
            <i class="fas fa-warehouse"></i>
            <span class="nav-link-text" data-i18n="nav.user_management">Department Management</span>
            <!-- <b class="collapse-sign"><em class="fal fa-angle-up"></em></b> -->
          </a>

            <ul style="display: block;">
              <li>
                <a href="/listDepartments" title="Users" data-filter-tags="manage users" class=" waves-effect waves-themed">
                  <span class="nav-link-text" data-i18n="nav.user_management_list" >Manage Departments</span>
                </a>
              </li>
            </ul>
        </li>


      <li class="nav-title">Employee Category</li>
        <li>
          <a href="#" title="User Management" data-filter-tags="user management" class=" waves-effect waves-themed" aria-expanded="true">
            <i class="fas fa-user-friends"></i>
            <span class="nav-link-text" data-i18n="nav.user_management">Employee Management</span>
              <!-- <b class="collapse-sign"><em class="fal fa-angle-up"></em></b> -->
          </a>
          <ul style="display: block;">
            <li>
              <a href="/listEmployeeCategory" title="Users" data-filter-tags="manage users" class=" waves-effect waves-themed">
                <span class="nav-link-text" data-i18n="nav.user_management_list">Manage Employee categories</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-title">Designation Category</li>
        <li>
          <a href="#" title="User Management" data-filter-tags="user management" class=" waves-effect waves-themed" aria-expanded="true">
            <i class="fas fa-user-shield"></i>
            <span class="nav-link-text" data-i18n="nav.user_management">Designation Management</span>
              <!-- <b class="collapse-sign"><em class="fal fa-angle-up"></em></b> -->
          </a>
          <ul style="display: block;">
            <li>
              <a href="/listDesignation" title="Users" data-filter-tags="manage users" class=" waves-effect waves-themed">
                <span class="nav-link-text" data-i18n="nav.user_management_list">Manage designation categories</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-title">Compensation Types</li>
        <li>
          <a href="#" title="User Management" data-filter-tags="user management" class=" waves-effect waves-themed" aria-expanded="true">
            <i class="fas fa-hand-holding-usd"></i>
            <span class="nav-link-text" data-i18n="nav.user_management">Compensation Management</span>
              <!-- <b class="collapse-sign"><em class="fal fa-angle-up"></em></b> -->
          </a>
          <ul style="display: block;">
            <li>
              <a href="/listCompensatation" title="Users" data-filter-tags="manage users" class=" waves-effect waves-themed">
                <span class="nav-link-text" data-i18n="nav.user_management_list">Manage compensation types</span>
              </a>
            </li>
          </ul>
        </li>

    </ul>
  </div>



